API_ID=
API_HASH=

DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
DB_NAME=

ENCRYPTION_KEY=

SPECIAL_VK_ACC_SERVICE_KEY=
SPECIAL_TG_ACC_SESSION_PATH=

RABBITMQ_URL=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=