API_ID=123
API_HASH=123

DB_USER=user
DB_PASS=1234
DB_HOST=host
DB_PORT=1234
DB_NAME=name

ENCRYPTION_KEY=key

SPECIAL_VK_ACC_SERVICE_KEY=key
SPECIAL_TG_ACC_SESSION_PATH=path

RABBITMQ_URL=url

EMAIL_HOST=host
EMAIL_PORT=123
EMAIL_HOST_USER=user
EMAIL_HOST_PASSWORD=password